.layout {
  max-width: 1200px;
  margin: auto;
  padding: 1em 0;
  .children {
    padding: 4em 1em;
  }
  // NoNav variant
  &.noNav {
    width: 100%;
    .children {
      padding-top: 0;
    }
  }
}
