.layout {
  max-width: 1200px;
  margin: auto;
  padding: 1em 0;
  .children {
    padding: 4em 0;
  }
  &.full {
    padding-bottom: 0;
    .children {
      padding-bottom: 0;
    }
  }
  // NoNav variant
  &.noNav {
    width: 100%;
    .children {
      padding-top: 0;
    }
  }
}

@media (max-width: 1235px) {
  .layout {
    max-width: 93.5%;
    &.full {
      max-width: 100%;
    }
  }
}

@media (max-width: 850px) {
  .layout {
    padding-top: 0;
  }
}

@media (max-width: 640px) {
  .layout {
    .children {
      padding: 2.85em 0;
    }
  }
}
