.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .titleOptions {
    display: flex;
    align-items: center;
    .navTitle {
      display: flex;
      align-items: center;
      img {
        height: 75px;
        width: 75px;
      }
      margin-right: 2.15em;
    }
    .options {
      display: flex;
      align-items: center;
      a {
        margin: 0 1.5em;
      }
      .featuredCtr {
        display: flex;
        align-items: center;
      }
    }
  }
  a {
    font-weight: 500;
    button {
      background: white;
    }
  }
  // White theme
  &.white {
    .options {
      a {
        color: white;
      }
    }
    .navTitle {
      h2 {
        color: white;
      }
    }
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  }
}

// MEDIA QUERIES
@media (max-width: 1215px) {
  // .nav {
  //   padding: 0 1em;
  // }
}

@media (max-width: 950px) {
  .nav {
    a {
      button {
        span {
          display: none;
        }
        svg {
          margin: 0;
        }
        padding: 0.5em 0.75em;
      }
    }
  }
}

@media (max-width: 850px) {
  .nav {
    .titleOptions {
      .options {
        display: none;
      }
    }
    .contactBtn {
      display: none;
    }
  }
}
