.gradientComponent {
  position: absolute;
  z-index: -1;
  top: -35vh;
  right: 0;
  width: 100vw;
  height: 55%;
  background: linear-gradient(to bottom, #461cf02f, #37a5ff30, transparent);
  transform: skewY(12.5deg);
}
