.gradientComponent {
  position: fixed;
  z-index: -1;
  bottom: -30vh;
  left: 0;
  width: 100vw;
  height: 55%;
  background: linear-gradient(to top, #461cf0a2, #37a5ffa4, transparent);
  transform: skewY(-12.5deg);
}
