.blogPreview {
  width: 585px;
  margin-bottom: 1em;
  &.full {
    width: 585px;
  }
  .blogImg {
    height: 400px;
    width: 100%;
    min-height: 400px;
    min-width: 100%;
    object-fit: cover;
    background: rgba(128, 128, 128, 0.47);
    border-radius: 0.25em;
    margin-right: 0.75em;
    background: grey;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.065), 0 10px 30px rgba(0, 0, 0, 0.065); // Subtle shadow
  }
  .blogPreviewContent {
    line-height: 150%;
    margin: 1em 0;
    .category {
      font-weight: 600;
      background: linear-gradient(to left, #170075, #0051ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: flex;
      align-items: center;
    }
    h3 {
      margin: 0.25em 0;
      font-size: 1.625em;
    }
    p {
      font-size: 0.9em;
      line-height: 137.5%;
      color: #57606a;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 4; /* number of lines to show */
      margin: 1em 0;
    }
    .authDpCtr {
      display: flex;
      align-items: center;
      .author {
        font-size: 0.9em;
        font-weight: 600;
        margin-right: 0.75em;
        display: flex;
        align-items: center;
        .authorImg {
          height: 25px;
          width: 25px;
          border-radius: 50%;
          margin-right: 0.5em;
          position: relative;
          overflow: hidden;
          background: #57606a;
          opacity: 0.5;
          .svg {
            height: 20px;
            width: 20px;
            color: white;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      .datePosted {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-size: 0.9em;
        font-weight: 300;
        color: #57606a;
      }
    }
  }
  &:hover {
    .blogPreviewContent {
      h3 {
        background: linear-gradient(to left, #170075, #0051ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

@media (max-width: 1235px) {
  .blogPreview {
    width: 100%;
    &.full {
      width: 100%;
    }
  }
}

@media (max-width: 640px) {
  .blogPreview {
    .blogImg {
      height: 265px;
      min-height: 265px;
    }
  }
}
