.blogPreview {
  height: 350px;
  width: 575px;
  background: white;
  margin-bottom: 1em;
  border-radius: 0.5em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 30px rgba(0, 0, 0, 0.1); // Subtle shadow
}
