.blogPreview {
  width: 550px;
  margin-bottom: 1em;
  .blogImg {
    height: 400px;
    width: 100%;
    object-fit: cover;
    background: rgba(128, 128, 128, 0.47);
    border-radius: 0.25em;
    margin-right: 0.75em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.065), 0 10px 30px rgba(0, 0, 0, 0.065); // Subtle shadow
  }
  .blogPreviewContent {
    line-height: 150%;
    margin: 1em 0;
    .category {
      font-weight: 600;
      background: linear-gradient(to left, #170075, #0051ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h3 {
      margin: 0.25em 0;
      font-size: 1.625em;
    }
    p {
      font-size: 0.9em;
      line-height: 137.5%;
      color: #57606a;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 4; /* number of lines to show */
      margin: 1em 0;
    }
    .authDpCtr {
      display: flex;
      align-items: center;
      .author {
        font-size: 0.9em;
        font-weight: 600;
        margin-right: 0.75em;
      }
      .datePosted {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-size: 0.9em;
        font-weight: 300;
        color: #57606a;
      }
    }
  }
  &:hover {
    .blogPreviewContent {
      h3 {
        background: linear-gradient(to left, #170075, #0051ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
